{% if children|length > 0 %}
<div class="toc">
    <div class="toc-title">{% trans %}Plan de cette page{% endtrans %}
        <span class="toc-toggle-message"> [<a href="#" class="toc-toggle">{% trans %}Hide{% endtrans %}</a>]<div></div></span></div>
<div class="toc-list">
<ul {{ attributes }} >
{% for child in children %}
  {{ child }}
{% endfor %}
</ul>
</div>
</div>
{% endif %}
